:root {
    --color-primary: #dedede;
    --color-secondary: #f7f7f7;
    --background-main: #222;
    --background-light: #2f2f2f;
    --border-color: #444;
    --background-hover: #444;
    --blue: #3696fe;
    --blue-dark: #2b78c9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-main);
    color: var(--color-primary);
}

h1 {
    text-align: center;
}

#searchContainer {
    position: relative;
    width: 400px;
    margin: 20px auto;
  
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    color: var(--color-primary);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-light);
}

#dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--background-light);
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#dropdown div {
    padding: 8px;
    cursor: pointer;
}

#dropdown div:hover {
    background-color: var(--background-hover);
}

.bang-span {
    color: var(--blue);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
}

#searchBtn {
    display: block;
    width: 100%;
    max-width: 120px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: var(--blue);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#searchBtn:hover {
    background-color: var(--blue-dark);
    transform: scale(1.05);
}

a {
    color: var(--color-primary);
    cursor: none;
}

.footer {
    background-color: var(--background-light);
    backdrop-filter: blur(5px);
    padding: 1rem;
    margin-top: 10px;
    display: flex;
}

.flex-left{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-right{
    margin-right: auto;
}

.flex-right p {
    margin: 0;
}

.footer img {
    width: 80px;
    height: 80px;
    margin: 0 1rem;
}

.footer a {
    text-decoration: none;
}

.pixelate {
    image-rendering: pixelated;
}
