:root {
    --color-primary: #dedede;
    --color-secondary: #f7f7f7;
    --background-main: #222;
    --background-light: #2f2f2f;
    --border-color: #444;
    --background-hover: #444;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-main);
    color: var(--color-primary);
}

h1 {
    text-align: center;
}

#searchContainer {
    position: relative;
    width: 300px;
    margin: 20px auto;
  
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    color: var(--color-primary);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-light);
}

#dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--background-light);
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#dropdown div {
    padding: 8px;
    cursor: pointer;
}

#dropdown div:hover {
    background-color: var(--background-hover);
}

.bang-span {
    color: #007bff;
    font-weight: bold;
}

#searchBtn {
    display: block;
    width: 100%;
    max-width: 120px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchBtn:hover {
    background-color: #0056b3;
}
